@if (
    {
        events: mappedEvents,
        isLoading: eventEntityFacade.getIsLoading(),
        isWholeListLoaded: eventEntityFacade.getIsWholeListLoaded(),
    };
    as tplData
) {
    <tui-scrollbar
        class="events"
        #eventsList
        scrolledToBottom
        (isNearBottom)="onNearBottom()"
        [disabled]="tplData.isWholeListLoaded()"
    >
        <div class="events__list-wrapper">
            @if (isHeaderScrolled()) {
                <div class="events__top_scrolled">
                    <div class="exit-btn"></div>
                    <div class="events__title_scrolled" searchEvents>
                        <tui-icon
                            [icon]="'@tui.search'"
                            [style.font-size]="'11px'"
                        />
                        <span
                            class="title__text tui-text_body-s-2 tui-text_bold ellipsis"
                        >
                            {{ searchDefaultControl.value || 'Поиск' }}
                        </span>
                    </div>
                    <div class="settings-btn"></div>
                </div>
            }
            <div class="events__top" (tuiElasticSticky)="onElastic($event)">
                <span class="events__title tui-text_h6">
                    Ближайшие события
                </span>
                <button
                    class="events__search-button"
                    iconStart="@tui.search"
                    tuiIconButton
                    appearance="flat"
                    size="m"
                    type="button"
                    searchEvents
                ></button>
            </div>
            <div class="events__list">
                @if (tplData.isLoading() && !tplData.events().length) {
                    @for (event of SKELETON_EVENTS_LIST; track event) {
                        <barter-event-card-skeleton />
                    }
                } @else {
                    @for (event of tplData.events(); track event.id) {
                        <barter-event-card
                            class="events__item"
                            [event]="event"
                            [openEvent]="{
                                dialogOptions: {
                                    data: event,
                                },
                            }"
                        />
                    }
                    @if (!tplData.isWholeListLoaded()) {
                        <barter-loader class="loader" />
                    }
                }
            </div>
        </div>
        <barter-create-event-button />
    </tui-scrollbar>
}
