:host {
  display: block;
  height: 100%;
}

.exit-btn {
  width: 86px;
}

.settings-btn {
  width: 64px;
}

.events {
  display: flex;
  height: 100%;
  overflow: scroll;
  padding: 48px 18px 0;

  &__top {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 10px;
    width: 100%;

    &_scrolled {
      align-items: center;
      display: flex;
      height: var(--tg-content-safe-area-inset-top, 28px);
      justify-content: space-between;
      left: 0;
      position: fixed;
      top: var(--tg-safe-area-inset-top, 6px);
      width: 100%;
      z-index: 1;
    }
  }

  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 102px;
  }

  &__title {
    display: inline-block;

    &_scrolled {
      align-items: center;
      backdrop-filter: blur(32px);
      background-color: rgb(0 0 0 / 12%);
      border-radius: 18px;
      color: #fff;
      display: flex;
      gap: 8px;
      max-width: 33vw;
      padding: 6.5px 10px;
      white-space: nowrap;
    }
  }

  &__search-button {
    border-radius: 50%;
    height: 36px;
    width: 36px;
  }

  &__list-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.loader {
  margin-top: 8px;
}
