:host {
  position: absolute;
  bottom: 24px;
  overflow: hidden;
  border-radius: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  display: grid;
  background-color: var(--tui-background-base);
  grid-template-columns: 1fr 1fr 1fr;
  width: 60vw;
  height: 60px;
  padding: 0 16px;
  align-items: center;
}
