<h1 tuiTitle="m" class="onboarding__title">
    TradeVibe - место встречи твоих желаний
</h1>
<div class="onboarding__list">
    <barter-onboarding-list-item
        [icon]="'waves'"
        [title]="'Здесь начинаются твои события'"
        [description]="'Cоздавай уникальные встречи'"
    />
    <barter-onboarding-list-item
        [icon]="'person-standing'"
        [title]="'Будь в центре внимания'"
        [description]="'Выбери свой круг интересов или сам задай направление'"
    />
    <barter-onboarding-list-item
        [icon]="'calendar-range'"
        [title]="'Следи за любимыми мероприятиями'"
        [description]="'Не пропускай любимые мероприятия и будь в тренде'"
    />
</div>
<button class="onboarding__button" tuiButton (click)="onBtnClick()">
    Поехали!
</button>
