@if (
    {
        currentUser: userEntityFacade.getCurrentUser(),
        isLoading: userEntityFacade.getIsLoading(),
        isMyProfile: userEntityFacade.getIsMyProfile(),
    };
    as tplData
) {
    @if (tplData.isLoading()) {
        <ng-container *ngTemplateOutlet="placeholderTpl"></ng-container>
    } @else {
        <barter-avatar
            [name]="tplData.currentUser()?.name"
            [src]="tplData.currentUser()?.photos?.[0] || ''"
        />
        @if (tplData.isMyProfile()) {
            <barter-edit-user-button class="profile__button" />
        } @else {
            <barter-subscribe-user-button class="profile__button" />
        }
        <barter-profile-events-list
            [activeEvents]="tplData.currentUser()?.createdEvents || []"
            [passedEvents]="tplData.currentUser()?.createdEvents || []"
        />
    }
}

<ng-template #placeholderTpl>
    <barter-avatar-skeleton />
    <div
        class="edit__button edit__button--placeholder"
        [tuiSkeleton]="true"
    ></div>
    <barter-profile-events-list-skeleton />
</ng-template>
