:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-item {
  display: flex;
  flex-direction: column;
  --footer-link-color: var(--tui-background-accent-1);
  opacity: 0.4;

  &_active {
    opacity: 1;
  }
}
