:host {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 24px;
}

.non-telegram {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;

  &__img {
    border-radius: 50%;
    height: 50vw;
    width: 50vw;
  }
}
