<section class="non-telegram">
    <img
        class="non-telegram__img"
        [lazySrc]="'assets/images/non-telegram.png'"
    />
    <p class="tui-text_h5">Откройте приложение в Telegram</p>
    <p class="tui-text_body-l">
        Похоже, Вы запустили приложение вне Telegram. Чтобы получать актуальную
        информацию о мероприятиях, откройте приложение внутри Telegram.
    </p>
    <a
        class="non-telegram__button"
        tuiButton
        href="https://t.me/communitio_bot?startapp"
        target="_blank"
    >
        Открыть в Telegram
    </a>
</section>
